:root {
  --name-text-color: #212121;
  --main-text-color: #757575;
  --bg-color-head-foot: #2f303a;
  --main-text-color-master: #000000;
  --special-text-color: #2196f3;
  --main-bg-color: #ffffff;
  --foot-text-color: #ffffff 60%;
  --border-color: #eeeeee;
  --bg-color-team: #f5f4fa;
  --border-color-header: #ececec;
  --card-social-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--name-text-color);
  overflow-x: hidden;
}

.list {
  list-style: none;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: inherit;
  transition: color 250ms linear;
}

a.current {
  color: var(--special-text-color);
  text-decoration: none;
  position: relative;
}

a.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 4px;
  width: 100%;
  background-color: var(--special-text-color);
  border-radius: 2px;
}

.link.current {
  padding-bottom: 32px;
}

.link-current {
  color: var(--special-text-color);
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .section {
    max-width: 1600px;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color-header);
  position: relative;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 480px;
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .header {
    max-width: 1600px;
    height: 80px;
  }
}

@media screen and (min-width: 280px) {
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-bg-color);
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: var(--main-text-color-master);
  display: flex;
  text-decoration: none;
  text-align: center;
  align-items: center;
  width: 134px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.2;
    margin-right: 93px;
    width: 145px;
  }
}

.logo__text {
  color: var(--special-text-color);
}

.nav-list {
  color: var(--name-text-color);
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list__item :hover,
.nav-list__item :focus {
  color: var(--special-text-color);
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .contact {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contact {
    display: flex;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .contact__item {
    display: flex;
    align-items: center;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-text-color);
  margin-bottom: 10px;
  transition: color 250ms linear;
}

.contact__icon-mail {
  fill: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .contact__icon-mail {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.contact__icon-tel {
  fill: var(--main-text-color);
}

@media screen and (min-width: 768px) {
  .contact__icon-tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__item :hover,
.contact__item :focus {
  color: var(--special-text-color);
}

.contact__item :hover .contact__icon-mail,
.contact__item :focus .contact__icon-mail {
  fill: currentColor;
}

.contact__item :hover .contact__icon-tel,
.contact__item :focus .contact__icon-tel {
  fill: currentColor;
}

.header__mobile-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;
  line-height: 0;
  transition: color 250ms linear;
}

@media screen and (min-width: 480px) {
  .header__mobile-menu-btn {
    margin-left: 276px;
  }
}

@media screen and (min-width: 768px) {
  .header__mobile-menu-btn {
    display: none;
  }
}

.header__mobile-menu-icon:hover,
.header__mobile-menu-icon:focus {
  fill: var(--special-text-color);
}

.header__mobile-menu-icon {
  width: 40px;
  height: 40px;
  fill: var(--main-text-color-master);
  transition: fill 250ms linear;
}

@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  max-width: 768px;
  height: 100%;
  background-color: var(--main-bg-color);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.mobile-menu__container {
  position: relative;
  padding-left: 25px;
  padding-right: 15px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__contact {
  margin-bottom: 64px;
}

.mobile-menu__link-tel {
  color: var(--special-text-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__link-mail {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  color: var(--special-text-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 10px;
}

.mobile-menu__social-item::after {
  content: "";
  background-color: rgba(33, 33, 33, 0.2);
  width: 1px;
  height: 22px;
  float: right;
  margin-left: 10px;
}

.mobile-menu__social-item:last-child::after {
  margin: 0;
  width: 0;
}

.mobile-menu__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms linear;
}

.mobile-menu__item:focus {
  color: var(--special-text-color);
}

.mobile-menu__modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  transition: fill 250ms linear;
}

.mobile-menu__modal-close-btn:hover,
.mobile-menu__modal-close-btn:focus {
  fill: var(--special-text-color);
}

.mobile-menu__close-icon {
  width: 18px;
  height: 18px;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow: auto;
}

.mobile-menu__nav {
  margin-bottom: 306px;
  padding: 0;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

@media screen and (min-width: 1200px) {
  .social-join {
    margin-top: 0;
    margin-left: 70px;
  }
}

.social-join__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

@media screen and (min-width: 768px) {
  .social-join__name {
    margin-bottom: 20px;
  }
}

.social-join__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .social-join__list {
    margin-top: 20px;
  }
}

.social-join__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms linear;
}

.social-join__list .social-join__item + .social-join__item {
  margin-left: 10px;
}

.social-join__icon {
  fill: var(--main-bg-color);
}

.social-join__link:hover,
.social-join__link:focus {
  background-color: var(--special-text-color);
}

.social {
  padding: 0 32px;
  width: 206px;
  height: 44px;
  margin-left: auto;
  margin-right: auto;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-bg-color);
  transition: background-color 250ms linear, fill 250ms linear;
}

.social__icon {
  fill: var(--card-social-color);
}

.social__link:hover,
.social__link:focus {
  background-color: var(--special-text-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--main-bg-color);
}

.footer {
  text-align: center;
  background-color: var(--bg-color-head-foot);
}

.footer__contact {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer__contact {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
    padding-top: 0;
    width: 1200px;
  }
}

.logo-foot {
  text-align: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .logo-foot {
    margin-bottom: 60px;
  }
}

.logo__footer {
  font-family: "Raleway", sans-serif;
  width: 154px;
  height: 28px;
  font-size: 24px;
  line-height: 1.17;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: var(--main-bg-color);
}

@media screen and (min-width: 1200px) {
  .logo__footer {
    width: 145px;
    font-size: 26px;
    line-height: 1.19;
    margin: 0;
    display: flex;
    justify-content: start;
  }
}

.adress-block {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .adress-block {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .adress-block {
    width: 231px;
  }
}

.footer__address {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__address {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.address {
  display: block;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

@media screen and (min-width: 768px) {
  .address {
    padding-top: 0;
  }
}

.footer__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .footer__list {
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    padding-top: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list .nav-list__item + .nav-list__item {
    margin-bottom: 9px;
  }
}

.contact__link {
  text-align: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .subscribe {
    text-align: center;
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
  }
}

.subscribe-form-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-bg-color);
  margin-bottom: 20px;
  margin-top: 60px;
}

@media screen and (min-width: 768px) {
  .subscribe-form-head {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form-head {
    margin-bottom: 0;
    text-align-last: left;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .subscribe-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }
}

.subscribe-form__input {
  max-width: 450px;
  height: 50px;
  padding-left: 16px;
  background-color: inherit;
  color: #eeeeee;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}

@media screen and (min-width: 768px) {
  .subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-form__input {
    width: 358px;
    margin-right: 12px;
  }
}

.subscribe-form__wrapper {
  display: flex;
  align-items: center;
}

.subscribe-form__btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.subscribe-form__btn {
  width: 200px;
  height: 50px;
  border-color: var(--special-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--special-text-color);
  color: var(--main-bg-color);
  padding-left: 29px;
  outline: none;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 20px;
  transition: color 250ms linear;
}

@media screen and (min-width: 1200px) {
  .subscribe-form__btn {
    margin: 0;
  }
}

.subscribe-form__icon {
  fill: var(--main-bg-color);
  transition: fill 250ms linear;
}

.subscribe-form__btn:focus,
.subscribe-form__btn:hover {
  color: #000000;
}

.subscribe-form__btn:focus .subscribe-form__icon,
.subscribe-form__btn:hover .subscribe-form__icon {
  fill: #000000;
}

.subscribe-form__btn .subscribe-form__icon {
  display: inline-block;
  margin-left: 10px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg-color);
  border-radius: 4px;
  padding: 40px;
}

@media screen and (min-width: 320px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 580px;
  }
}

.modal-close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  padding-top: 5px;
  padding-right: 5px;
  transition: fill 250ms linear;
}

.modal-close-btn:focus,
.modal-close-btn:hover {
  fill: var(--special-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form__field {
  margin-bottom: 10px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: all 250ms linear;
}

.modal-form__input:focus {
  border-color: var(--special-text-color);
  outline: none;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--special-text-color);
}

/* .modal-form__input:required:focus:not(:placeholder-shown):valid {
    border-color: green;
  } */
/* .modal-form__input:required:focus:not(:placeholder-shown):invalid {
    border-color: red;
  } */
.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: fill 250ms linear;
}

.modal-form__message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  transition: border-color 250ms linear;
}

.modal-form__message:focus {
  border-color: var(--special-text-color);
  outline: none;
}

.modal-form__message::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-checkbox-policy {
  font-style: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--main-text-color);
}

@media screen and (min-width: 1200px) {
  .modal-form-checkbox-policy {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form-checkbox-policy::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  margin-right: 7px;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  background-image: url(/images/icon-check.svg);
  background-position: center;
}

.modal-form-checkbox:checked + .modal-form-checkbox-policy::before {
  outline: none;
  border-color: var(--special-text-color);
}

.modal-button {
  margin: 0 auto;
  padding-bottom: 40px;
}

.modal-form-btn {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 40px;
  border: none;
  padding: 0;
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--special-text-color);
  color: var(--main-bg-color);
  transition: color 250ms linear;
}

.modal-form-btn:hover,
.modal-form-btn:focus {
  color: var(--main-text-color-master);
  cursor: pointer;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--bg-color-head-foot);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-mob.jpg);
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), (min-resolution: 192dpi) and (max-width: 767px), (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-mob@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-tab.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), (min-resolution: 192dpi) and (min-width: 768px), (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/header-img-tab@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/imgs.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), (min-resolution: 192dpi) and (min-width: 1200px), (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Imgs@2x.jpg);
  }
}

.hero__title {
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-bg-color);
}

@media screen and (max-width: 1199px) {
  .hero__title {
    max-width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  display: block;
  width: 200px;
  height: 50px;
  margin: auto;
  border: none;
  padding: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background-color: var(--special-text-color);
  color: var(--main-bg-color);
  transition: color 250ms linear;
}

.hero__btn:hover,
.hero__btn:focus {
  color: var(--main-text-color-master);
  cursor: pointer;
}

@media screen and (min-width: 280px) {
  .gallery__wrapper {
    padding: 25px;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    background-color: var(--bg-color-team);
    border-radius: 4px;
  }
}

@media screen and (min-width: 768px) {
  .gallery__wrapper {
    max-width: 354px;
    padding: 25px 142px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__wrapper {
    max-width: 270px;
    padding: 25px 100px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__list {
    display: flex;
    justify-content: space-between;
  }
}

.gallery__item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__item {
    max-width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    max-width: 270px;
  }
}

@media screen and (max-width: 767px) {
  .gallery__item:last-child {
    margin-bottom: 0;
  }
}

.gallery__item:not(:last-child) {
  margin-bottom: 30px;
}

.gallery-icon {
  margin: auto;
}

.gallery__head {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .gallery__head {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .gallery__head {
    text-align: none;
  }
}

.gallery__text {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 0;
}

.filter__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

@media screen and (min-width: 768px) {
  .filter__list {
    justify-content: center;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .filter__list {
    align-items: center;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-right: 8px;
    margin-bottom: 15px;
  }
}

.filter__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-text-color);
  background-color: var(--bg-color-team);
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color 250ms linear, background-color 250ms linear;
}

@media screen and (max-width: 1199px) {
  .filter__item:not(:last-child) {
    margin-right: 8px;
  }
}

.filter__item:nth-last-child(n+2) {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .filter__list .filter__item + .filter__item {
    margin-left: 8px;
  }
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--special-text-color);
  color: var(--main-bg-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.section-team {
  background-color: var(--bg-color-team);
}

.caption {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  color: var(--name-text-color);
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .caption {
    font-size: 36px;
    line-height: 1.17em;
    margin-bottom: 50px;
  }
}

.team__list {
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .team-cur {
    margin-bottom: 30px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-bg-color);
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    max-width: 354px;
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 2 -30px);
  }
}

@media screen and (max-width: 767px) {
  .team__list .team__item + .team__item {
    display: block;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list .team__item + .team__item {
    margin-left: 30px;
  }
}

.team__signature {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  border-top: 0;
  justify-content: space-between;
}

.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--name-text-color);
}

.team__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 16px;
}

@media screen and (max-width: 1200px) {
  .section-img {
    display: none;
  }
}

.section-img {
  padding-top: 0;
}

.image__caption {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--name-text-color);
}

.image__list {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.img-item__box {
  position: relative;
}

.img-item__subtext {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
}

.img-item__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-bg-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-team {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.menu-team__item {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .menu-team__item {
    max-width: 354px;
    height: 404px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-team__item {
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-team__item :not(:last-child) {
    margin-bottom: 30px;
  }
}

.filter__list {
  margin-bottom: 30px;
}

.menu-team__wrapper {
  position: relative;
  overflow: hidden;
}

.menu-team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--main-bg-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}

@media screen and (min-width: 1200px) {
  .menu-team__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.menu-team__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu-team__link {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-team__link:hover .menu-team__overlay,
.menu-team__link:focus .menu-team__overlay {
  transform: translateY(0);
}

.signature {
  background: #ffffff;
  padding: 20px 20px;
  border: 1px solid #eeeeee;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--name-text-color);
}

.desc {
  display: block;
  padding-top: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (max-width: 1199px) {
  .client__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .client__list {
    display: flex;
  }
}

.client__item {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .client__item {
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    max-width: 210px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    max-width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    max-width: 170px;
  }
}

@media screen and (min-width: 768px) {
  .client__link {
    max-width: 226px;
    padding: 16px 32px;
  }
}

.client__card {
  width: 106px;
  height: 60px;
  fill: var(--card-social-color);
}

.client__item,
.client__card {
  transition: border-color 250ms linear, fill 250ms linear;
}

.client__item:hover,
.client__item:focus {
  border-color: var(--special-text-color);
  cursor: pointer;
}

.client__item:hover .client__card,
.client__item:focus .client__card {
  fill: var(--special-text-color);
}

@media screen and (min-width: 1200px) {
  .client__list .client__item + .client__item {
    margin-left: 30px;
  }
}
/*# sourceMappingURL=main.css.map */