.gallery {
    margin-bottom: 30px;
  }

  .gellary__wrapper {
    padding-top: 25px;
    padding-bottom: 25px;
    height: 120px;
    margin-bottom: 30px;
width: 480px;

    text-align: center;
    border-radius: 4px;
    background-color: var(--bg-color-team);
  }
  
  .gallery__list {
width: 100%;

    @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  }
  
  .gallery__item {
    

max-width: 450px;

  display: flex;
  flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px){
      max-width: 354px;
    }

    @media screen and (min-width: 1200px) {
    max-width: 270px;
    
    }
  }

  .gallery__item:not(:last-child) {
    margin-right: 30px;
  }

  .gallery-icon {
    margin: auto;
  }

//   .gallery__icon {
// display: flex;
// justify-content: center;
// text-align: center;
//   }