.aside {
  margin: auto;
}

.gallery__wrapper {
  @media screen and (min-width: 280px) {
    padding: 25px;
    max-width: 450px;
    height: 120px;
    margin-bottom: 30px;

    text-align: center;
    align-items: center;
    background-color: var(--bg-color-team);
    border-radius: 4px;
  }

  @media screen and (min-width: 768px) {
    max-width: 354px;
    padding: 25px 142px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
    padding: 25px 100px;
  }
}

.gallery__list {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;

    margin-left: -15px;
    margin-top: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
}

.gallery__item {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 354px;
    margin-left: 15px;
    margin-top: 30px;
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1200px) {
    max-width: 270px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item:not(:last-child) {
    margin-right: 30px;
  }
}

.gallery-icon {
  margin: auto;
}

.gallery__head {
  display: block;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    text-align: none;
  }
}

.gallery__text {
  display: block;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-bottom: 0;
}
