.menu-team {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-wrap: wrap;
// display: grid;

    margin-left: -30px;
    margin-top: -30px;
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.menu-team__item {
  max-width: 450px;

  @media screen and (min-width: 768px) {
    max-width: 354px;
    height: 404px;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  @media screen and (min-width: 1200px) {
    
    width: 370px;
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu-team__item :not(:last-child) {
  margin-bottom: 30px;
  }
}

.filter__list {
  margin-bottom: 30px;
}


.menu-team__wrapper {
  position: relative;
  overflow: hidden;
}

.menu-team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--main-bg-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms linear;
  overflow: auto;
}

@media screen and (min-width: 1200px) {
  .menu-team__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.menu-team__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.menu-team__link {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menu-team__link:hover .menu-team__overlay,
.menu-team__link:focus .menu-team__overlay {
  transform: translateY(0);
}

.signature {
  // padding: 20px 24px;
  // border: 1px solid var(--border-color);
  // border-top: none;

  background: #ffffff;
    padding: 20px 20px;
    border: 1px solid #eeeeee;
    // flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--name-text-color);
}

.desc {
  display: block;
  padding-top: 4px;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
