.header {
  // display: flex;
  // margin-left: auto;
  // margin-right: auto;
  // justify-content: center;
  //     align-items: center;
  //     max-width: 1600px;
  //     height: 60px;
  border-bottom: 1px solid var(--border-color-header);

  // 

  @media screen and (max-width: 767px) {
    
    padding-top: 16px;
    padding-bottom: 16px;
max-width: 480px;

    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 80px;
    }
  }
}

.link-current {
  color: var(--special-text-color);
}

.header__nav {
  @media screen and (min-width: 280px) {

      display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;


  background-color: var(--main-bg-color);
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: var(--main-text-color-master);

//   display: flex;
//   text-decoration: none;
//   text-align: center;
//   align-items: center;
//   padding-left: 0;

  width: 134px;
  padding: 0;

  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: 1.2;

margin-right: 93px;
    width: 145px;
  }
}

.logo__text {
  
  color: var(--special-text-color);
}

.nav-list {
    color: var(--name-text-color);

    @media screen and (max-width: 767px) {
        display: none;
    }
  
    @media screen and (min-width: 768px) {
        display: flex;
        padding-top: 32px;
        padding-bottom: 32px;
    }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: 0;

    
  }
}

@media screen and (min-width: 768px) {
.nav-list__item:not(:last-child){
    margin-right: 50px;
}
}

.nav-list__item :hover,
.nav-list__item :focus {
  color: var(--special-text-color);
}

// @media screen and (min-width: 768px) {
//     .nav-list .nav-list__item + .nav-list__item,
// .contact .contact__item + .contact__item {
//   margin-left: 50px;
// }

// }

.contact {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    margin-left: auto;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--main-text-color);

  transition: color 250ms linear;
}

.contact__icon {
  margin-right: 10px;

  fill: var(--main-text-color);
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child){
margin-right: 30px;
  }
}

.contact__item :hover,
.contact__item :focus {
  color: var(--special-text-color);
}

.contact__item :hover .contact__icon,
.contact__item :focus .contact__icon {
  fill: currentColor;
}

.header__mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 15px;
    line-height: 0;
  
    @media screen and (min-width: 480px) {
        margin-left: 276px;
    }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.header__mobile-menu-icon {
  width: 40px;
  height: 40px;
  fill: var(--main-text-color-master);
}
