:root {
    --name-text-color: #212121;
    --main-text-color: #757575;
    --bg-color-head-foot: #2f303a;
    --main-text-color-master: #000000;
    --special-text-color: #2196f3;
    --main-bg-color: #ffffff;
    --foot-text-color: #ffffff 60%;
    --border-color: #eeeeee;
    --bg-color-team: #f5f4fa;
    --border-color-header: #ececec;
    --card-social-color: #afb1b8;
  }